<!DOCTYPE html>
<html>
<head>
<meta charset="ISO-8859-1">
<title>Index</title>
</head>
<body>

<h1>Fathur Spring boot Test for Accenture - Identity input</h1>
<form action="register" method="post">
<label for="name">Name :</label> <br/>
<input type="text" name="fname"/> <br/>

<label for="Ssn">Social Security Number:</label> <br/>
<input type="text" name="ssn"/> <br/>

<label for="dob">Date Of Birth:</label> <br/>
<input type="date" name="dob"/> <br/>

<label for="doc">Date Of Created:</label> <br/>
<input type="date" name="doc"/> <br/>

<label for="dou">Date Of Updated:</label> <br/>
<input type="date" name="dou"/> <br/>

<label for="updateby">Update by:</label> <br/>
<input type="text" name="updateby"/> <br/>

<label for="createdby">Created by:</label> <br/>
<input type="text" name="createdby"/> <br/>

<label for="isdeleted">Is deleted ?:</label> <br/>
<select name="isdeleted">
		<option value=""></option>
		<option value="Yes">Yes</option>
		<option value="No">No</option>
</select>
<br/>
<button type="submit">Submit</button>
<button type="Edit">Edit</button>
<button type="Delete">Delete</button>
</form>
<br/>

</body>
</html>